<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.JS Tutorial | Looping with V-for Directive</title>

    <link rel="stylesheet" href="../_bootstrap/bootstrap.min.js">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="app">
          <h1>{{message}}</h1>

          <ul>
            <li style="list-style-type:none" v-for="todo in todos">{{todo.id}}) {{todo.text}}</li><br>
            <li style="list-style-type:none" v-for="count in count">Loop This {{count}}</li>
          </ul>

    </div>
  </body>

    <script src="../_vue/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue World',
          todos: [
            {text: 'Learn Vue', id:1},
            {text: 'Like the video', id:2},
            {text: 'Subscribe to devmarketer', id:3}
          ],
          count: 10
        }
      })
    </script>

</html>
